.Model {
    width: 100%;
    height: calc(100vh - 60px);
    padding: 1rem;
    overflow-y: scroll;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease;

    &.fade {
        opacity: 1;
        transform: translateY(0);
    }

    &::-webkit-scrollbar {
        display: none;
    }

    .page1 {
        width: 100%;
        height: fit-content;
        position: relative;
        margin-bottom: 2rem;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .header {
                p {
                    text-align: center;
                    opacity: .7;
                    font-size: 1rem;
                    color: white;
                    font-weight: 500;
                }

                h1 {
                    font-size: 3rem;
                    text-align: center;
                    font-weight: 700;
                    color: white;
                }

                h3 {
                    text-align: center;
                    font-size: 1.3rem;
                    text-transform: capitalize;
                    margin-bottom: 2rem;
                    color: white;
                    opacity: .8;
                }
            }

            .models {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .grid-1 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 1rem;

                    .box {
                        width: 350px;
                        height: 150px;
                        border-radius: 2rem;
                        position: relative;
                        overflow: hidden;
                        background-color: white;

                        @media (max-width: 785px) {
                            width: 100%;
                        }

                        .image {
                            width: 100%;
                            height: 100%;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .info {
                            position: absolute;
                            bottom: 1rem;
                            right: .5rem;

                            button {
                                transform: translateY(60px);
                                font-size: 1.2rem;
                                padding: .2rem 1rem;
                                background-color: black;
                                color: white;
                                font-weight: 600;
                                cursor: pointer;
                                border-radius: 1rem;
                                transition: all .3s ease;
                                white-space: nowrap;

                                @media (max-width: 785px) {
                                    font-size: 1rem;
                                    padding: .5rem;
                                }

                                &:hover {
                                    background-color: white;
                                    color: black;
                                }
                            }
                        }

                        &:hover button {
                            transform: translateY(0);
                        }
                    }
                }

                .grid-2 {
                    margin-top: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    margin-bottom: 2rem;
                    flex-wrap: wrap;

                    @media (max-width: 785px) {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: 150px 150px;
                    }

                    .box {
                        width: 300px;
                        height: 130px;
                        background-color: white;
                        border-radius: 2rem;
                        position: relative;
                        overflow: hidden;

                        @media (max-width: 785px) {
                            width: 100%;
                            height: 100%;
                        }

                        .image {
                            width: 100%;
                            height: 100%;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .info {
                            position: absolute;
                            bottom: 1rem;
                            right: .5rem;

                            button {
                                transform: translateY(60px);
                                font-size: 1.2rem;
                                padding: .2rem 1rem;
                                background-color: black;
                                color: white;
                                font-weight: 600;
                                cursor: pointer;
                                border-radius: 1rem;
                                transition: all .3s ease;

                                &:hover {
                                    background-color: white;
                                    color: black;
                                }
                            }
                        }

                        &:hover button {
                            transform: translateY(0);
                        }
                    }
                }
            }

            .Load {
                font-size: 1.5rem;
                font-weight: 700;
                border-radius: 1rem;
                padding: .5rem 2rem;
                cursor: pointer;
                background-color: whitesmoke;
                color: black;
                transition: all .3s ease;

                &:active {
                    scale: .8;
                }

                &:hover {
                    color: white;
                    background-color: rgba(202, 202, 202, 0.847);
                }
            }

        }

    }

    .page2 {
        margin-top: 2rem;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;

        .container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;

            .landing {
                width: 100%;
                height: 30rem;
                position: relative;

                .image {
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .info {
                    position: absolute;
                    bottom: 3rem;
                    left: 2rem;

                    h1 {
                        color: white;
                        font-weight: 700;
                        font-size: 2rem;
                    }
                }
            }

            .car-info {
                width: 100%;
                height: fit-content;
                background-color: white;
                color: black;
                margin-top: 2rem;
                padding: 2rem 1rem;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    text-align: center;
                    font-size: 1.2rem;
                    opacity: .8;
                    width: 65%;
                }
            }

            .car-image {
                width: 100%;
                height: 100%;
                overflow: hidden;
                margin-top: 2rem;

                .scroll-inner {
                    display: flex;
                    width: 900%;
                    height: 100%;


                    .panel {
                        width: fit-content;
                        height: 100%;
                        flex-shrink: 0;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }

    .page3 {
        width: 100%;
        height: 100%;
        background-color: red;
    }
}